<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoO9ScWbDvbXvYyWKM_eIH212up-KEOow</string>
	<key>GCM_SENDER_ID</key>
	<string>268160563927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scorpion.chat</string>
	<key>PROJECT_ID</key>
	<string>realtime-8f6c8</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-8f6c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268160563927:ios:59938c071f6457c2258e92</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-8f6c8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>